/********************************************************/
/* THIS IS A SHARED FILE WITH STYLES FOR ALL COMPONENTS */
/********************************************************/

/*********************************/
/* Styles for component 'App.js' */
/*********************************/

div.App_contentMain div {
  margin-top: 0;
}

.App_contentHeader {

}

.App_contentAim {

}

.App_contentHabit {

}

/************************************/
/* Styles for component 'Header.js' */
/************************************/
body {
  background-color: #e5e5e5;
}

.Header_contentMain {
  background-color: white;
  padding: 10px;
  overflow: hidden;
  height: 50px;
}

.Header_welcomeText {
  text-align: center;
  display: inline-block;
}

/*
                КРАСИВЫЙ ШРИФТ --- НЕ РАБОТАЕТ !!!

Добавь сточку "font-family: 'kursiv';" в ".Header_welcomeText"

И ниже добавь объект

@font-face {
  font-family: 'kursiv';
  src: url('fonts/regina_kursiv_italic.ttf');
}

В итоге будет такая ошибка:

      Module parse failed: /home/.../styles/fonts/name.ttf
      Unexpected character '' (1:0)
      You may need an appropriate loader to handle this file type.

*/

.Header_TwentyOneDays {
  font-size: 50px;
  text-transform: uppercase;
  font-family:Lobster, cursive; Font-size:30px;
}

.Header_Registration {
  display: inline-block;
  float: right;
}
.Header_Registration_complited {
  display: none;
}

.Header_userProfile {
    float: right;
}
.Header_userFullName {
    float: right;
    margin-left: 5px;
    margin-right: 5px;
    padding-top: 15px;
    font-style: italic;
}

.Header_userMainPhoto {
    margin-left: 5px;
    float: right;
}

#avatar {
  border:0;
  border-radius: 45px;
  width: 50px;
  height: 50px;
}

.Header_buttonLogIn {
  float: right;
  background-color: #9d93e4;
  margin: 10px 0;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 15px;
  border: 0;
  margin-left: 30px;
  color: white;
}

/**********************************/
/* Styles for component 'Aims.js' */
/**********************************/

.Aims_contentMain {
  background: #fefefe;
  padding: 10px;
  text-align: center;
  margin-right: 7%;
  width: 55%;
  margin-top: 10px !important;
  float:right;
  height: 200px;
}

.Aims_statistic {
  text-align: center;
  margin: 20px 0;
}

.AimCreate {
    width: 50%;
    height: 150px;
    background: white;
    margin: 0 auto;
    margin-top:10px;

}

.AimCreate p {
  font-style: italic;
  font-size: 20px;
}
.Aims_inputTextAim {
  width: 400px;
  height: 20px;
  border-radius: 0;
  padding: 5px 20px;
  text-align: center;
  background: white;
  margin-top: 50px;


}

.Aims_addAim {
  margin-top: 20px;
  background-color: #9FD29F;
  font-size: 15px;
  border: 1px solid black;
  font-size: 15px;
  float:right;
  margin-top:200px;

}

.Aims_allCreatedAims {
  padding: 0 !important;
}

ul.Aims_allCreatedAims li {
  display: inline-block;
}

.Aims_newAim {
  display: inline-block;
  background-color: #62B0C9;
  margin: 3px;
  font-size: 20px;
  border-radius: 0px 0px 10px 10px;
}

.Aims_newAim:active {
  background-color: blue;
}

.Aims_newAim .Aims_aimAction {
  display: block;
}

.Aims_aimAction {
  text-align: right;
  background-color: #D0D0D0;
  padding-bottom: 5px;
  display: none;
}

.Aims_aimEdit, .Aims_aimDelete {
  background: #FFFFFF;
  border: 0;
  border-radius: 0;
  font-size: 15px;
  margin: 0 5px;
}



.Aims_aimEdit:hover {
  background: #FF6600;
  transition-duration: 0.3s;
}

.Aims_aimDelete:hover {
  background: #FF0000;
  transition-duration: 0.3s;
}

.Aims_aimText {
  display: inline-block;
  padding: 5px;
  width: auto;
}

body .modal {
  position: fixed;
  top: 100px;
  left: 250px;
  right: 250px;
  bottom: 100px;
  border: 1px solid #ccc;
  overflow: auto;
  outline:none;
  background: white;
}

/************************************/
/* Styles for component 'Habits.js' */
/************************************/

.Habits_contentMain {
  margin-right:7%;
  background: #fefefe;
  margin-top: 10px !important;
  padding: 10px;
  width: 55%;
  text-align: center;
  float: right;
  height: 300px;
}

.Habits_statistic {
  text-align: center;
  margin: 20px 0 ;
}

.HabitCreate {
    width: 25%;
    margin: 0 auto;
    height: 200px;
    margin-top: 150px;
    background: white;

}
.showModal {
  background-color: #54c354;
  border:0;
  font-size: 15px;
  font-weight: bold;
  padding: 5px 10px 5px 10px;
  border-radius:50%;
  margin-left: 10px;
}
.Habits_inputTextHabit {
  width: 200px;
  border-radius: 0;
  border: 0;
  padding: 5px 20px;
  text-align: center;
}

.Habits_addHabit {
  margin-top: 20px;
  background-color: #9FD29F;
  font-size: 15px;
  border: 1px solid black;
  font-size: 15px;
}

.Habits_addHabit: {
  background-color: #00ff00;
  padding: 5px 30px;
  font-weight: bold;
  transition-duration: 0.5s;
}

.Habits_allCreatedHabits {
  list-style-type: none;
  padding: 0 !important;
}

.Habits_newHabit {
  display: inline-block;
  background-color: #DADADA;
  margin-bottom: 10px;
  font-size: 20px;
  text-align: left;
  border-radius: 0px 0px 10px 10px;
}

.Load {
    width: 70%;
    background-color: #82bae3;
}

.Habits_newHabit {
  display: block;
}

.Habits_habitAction {
  text-align: right;
  background-color: #54C8B7;
  padding: 0px 5px 5px 0px
}

.Habits_habitEdit, .Habits_habitDelete {
  background: #FFFFFF;
  border: 0;
  border-radius: 0;
  font-size: 15px;
  margin-left: 5px;
}

.Habits_habitEdit:hover {
  background: #FF6600;
  transition-duration: 0.3s;
}

.Habits_habitDelete:hover {
  background: #FF0000;
  transition-duration: 0.3s;
}

.Habits_habitText {

}

.Habits_habitProgress {
  background-color: #00AE95;
  text-align: center;
  padding: 5px;
  border-radius: 0px 0px 10px 10px;
}

/****************************/
/* Styles for new component */
/****************************/
